        </div>
    
    <script  src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <!-- the frontend js file must be located in the static "public" file (we used in index.js app.use which renders access to main.js)-->
    <script  src="frontend/main.js" charset="utf-8"></script>
    </body>
</html>