<%- include("partials/header.ejs") %>

    <img id="imgmain" alt="my-photo" src ="images/defaults/defaultpic1.jpg">
    <!-- <div id="imgmain"></div>
    <input type="file" accept="images/*" id="fileField" class="imgmaininput" name="new_img"/> -->
    
    <h1>Hey! <%=name %> here 👋</h1>

    <p>
        <span class="tab"></span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ullamcorper augue ac dolor dictum, 
vitae suscipit magna venenatis. Pellentesque auctor leo mauris, eu porta nisl blandit 
sed. Sed ac ligula risus. Nunc eu dolor a augue venenatis viverra id vitae tellus. 

        <br />
        <span class="tab"></span>Praesent nisl lorem, bibendum sed porttitor eget, condimentum ut odio. Cras semper porttitor congue. 
Suspendisse quis tristique odio, eu ferntum enim. Vestibulum tristique interdum lobortis. Pellentesque 
porttitor, tellus eget tempus fringilla, nunc ipsum tempus mi, cursus vestibulum orci dolor a augue. 
    
    </p>


<%- include("partials/footer.ejs") %>